.ChangePassword {
  display: flex;
  flex-direction: column;
}

.ChangePassword > form {
  width: 100%;
}

.ChangePassword-control {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: calc(100% - 2em);
  margin: 1em;
}

.ChangePassword-control > input {
  width: 100%;
  max-width: 20em;
  margin-bottom: .5em;
}

.ChangePassword-control > button {
  margin-top: .5em;
}

.ChangePassword p.error-response {
  color: var(--color-text-error);
}