.Login {
  display: flex;
  flex-direction: column;
}

.Login > form {
  width: 100%;
}

.Login-control {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: calc(100% - 2em);
  margin: 1em;
  /* border: 1px dotted red; */
}

.Login-control > input {
  width: 100%;
  max-width: 20em;
  margin-bottom: .5em;
}

.Login-control > button {
  margin-top: .5em;
}

.Login p.error-response {
  color: var(--color-text-error);
}