.Manage-account {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.Manage-account > ul {
  margin: 0;
  padding-left: 1em;
}

.Manage-account li {
  margin: 0 0 .5em 0;
  list-style-type: none;
}

/* Special trick here to make the icons appear with equal spacing
 * regardless of 1 or 2 lines of text;
 * - Manage-link::min-height: 3.5em   -> room for two lines
 * - li:first-child::margin-top: -.5em -> avoid too much space above
 */
.Manage-account li:first-child {
  margin-top: -.5em;
}

.Manage-account-link {
  display: flex;
  align-items: center;
  min-height: 3.5em; /* see above */
}

.Manage-account-link > p {
  margin-left: 1em;
}

.Manage-account-link-back {
  display: flex;
  align-items: center;
}

.Manage-account-link-back > p {
  padding-top: 0.25em;
  margin-left: .3em;
}

.Manage-separator {
  width:100%;
  margin-top: 1.5em;
  border-bottom: 1  px solid var(--color-border-light);
}
