.Manage-account {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.Manage-account > ul {
  margin: 0;
  padding-left: 1em;
}

.Manage-account li {
  margin: 0 0 .5em 0;
  list-style-type: none;
}

/* avoid too much space above */
.Manage-account li:first-child {
  margin-top: -.5em;
}

