.MarkdownPage {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    width: 96vw;
    max-width: 1024px;
    margin:auto;
    margin-bottom: 2em;
}

.MarkdownPage h2 {
    margin-top: 1em;
    margin-bottom: .5em;
}

.MarkdownPage h3 {
    margin-top: 1em;
    margin-bottom: .5em;
}

.MarkdownPage h4 {
    margin-top: 1em;
    margin-bottom: .5em;
}

.MarkdownPage blockquote {
    background-color: var(--color-bkg-info);
    margin: 1em 0 1em 2em;
    padding: 1em;
}

.MarkdownPage ul {
    margin-top: 0;
}

.MarkdownPage li {
    font-size: var(--font-small);
}
