.MarkdownPage {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    width: 96vw;
    max-width: 1024px;
    margin:auto;
    margin-bottom: 2em;
}

.MarkdownPage h2 {
    margin-top: 1em;
    margin-bottom: .5em;
}

.MarkdownPage h3 {
    margin-top: 1em;
    margin-bottom: .5em;
}

.MarkdownPage h4 {
    margin-top: 1em;
    margin-bottom: .5em;
}

.MarkdownPage hr {
    min-width: 100%;
    border:none;
    border-bottom: 1px solid var(--color-border-light);
    margin: 1em 0 1em 0;
}

.MarkdownPage ul {
    margin-top: 0;
}

.MarkdownPage li {
    font-size: var(--font-small);
}

/* Until I decide to change the general App styling of <p>s, add some
 * extra margin between here (massive text blobs are more sensitive)
 * Would be cleaner with ".style-override" instead of "!important",
 * but there is no custom <p> rendere (yet)
 */
.MarkdownPage p {
    margin-bottom: 1em !important;
}
