.AppHeader {
  display: flex;
  width: 100%;
  height: var(--height-header);
  top: 0;
  position: fixed;
  z-index: 1000;
  padding: .5em;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
  background-color: var(--color-bkg-btn-accent);
  box-shadow: 0px 2px 3px var(--color-border);
  transition: height .3s ease-in-out;
}

.AppHeader-home-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.AppHeader-home-logo > button {
  margin-right: .5em;
}
/*Dirty short-cut for this "special" button*/
.AppHeader-home-logo svg {
  fill: white !important;
}

/* When Home button is hidden (already "at home") */
.AppHeader-home-logo > button {
  transform: translateX(-2em);
  opacity: 0;
  transition: all .3s ease-in-out;
}
.AppHeader-home-logo > a {
  transform: translateX(-2em);
  transition: transform .3s ease-in-out;
}

/* When the Home button is visible */
.AppHeader-home-visible > button {
  transform: translateX(0);
  opacity: 1;
}
.AppHeader-home-visible > a {
  transform: translateX(0);
}

/* Special link for app-name (show more like a "logo") */
.AppHeader-home-logo a.style-override {
  font-size: var(--font-medium);
  color: var(--color-text-inverted);
  text-decoration: none;
}

.AppHeader-home-logo a.style-override:visited {
  color: var(--color-text-inverted);
}

@media (hover: hover) {
  .AppHeader-home-logo a.style-override:hover {
    color: var(--color-bkg-btn-focus);
  }  
}

.AppHeader-home-logo a.style-override:focus {
  color: var(--color-bkg-btn-focus);
  outline: 1px dotted var(--color-border);
}
