/* Inspired by:
 * https://moderncss.dev/pure-css-custom-checkbox-style/
 * But I didn't find the "vertical alignment" of that technique to work
 * well for me. I settled with the simple align-items:center solution
 * so I must ensure that I don't get line breaks for my labels
 */


/* The container */
.CheckboxLabel {
  display: grid;
  align-items: center;
  grid-template-columns: min-content auto;
  grid-gap: 0.5em;

  cursor: pointer;
  
  /* prevent "accidental" selection when clicking */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Our "input" is actually the real input and a sibling "control" svg
 * on top of each other
 */
 .CheckboxLabel-input {
   display: grid;
   grid-template-areas: "CheckboxLabel"
 }
 .CheckboxLabel-input > * {
   grid-area: CheckboxLabel;
 }

/* Hide the browser's default checkbox */
.CheckboxLabel-input > input {
  opacity: 0;
  width: 1em;
  height: 1em;
  margin: 0;
}

/* Create a custom checkbox using an svg */
.CheckboxLabel-control {
  display: inline-grid;
  width: 1em;
  height: 1em;
  border-radius: 0.25em;
  border: 0.05em solid currentColor;
}

/* When unchecked, the actual svg is hidden using scale(0)
 * Transitions are added for animation effects
 */
 .CheckboxLabel-control > svg {
  transition: transform 0.1s ease-in;
  transform: scale(0);
  transform-origin: center;
 }

/* On mouse-over (if feasible) */
@media (hover: hover) {
  .CheckboxLabel:hover input + .CheckboxLabel-control {
    background-color: var(--color-bkg-btn-hover);
  }
}

/* When checked, show the svg */
.CheckboxLabel-input > input:checked + .CheckboxLabel-control svg {
  transform: scale(1);
}

/* Indicate when the checkbox has focus */
.CheckboxLabel-input > input:focus + .CheckboxLabel-control {
  background-color: var(--color-bkg-btn-focus);
}

/* Overrides for when the checkbox is disabled */
.CheckboxLabel-disabled {
  color: var(--color-text-disabled);
  cursor: auto;
}

.CheckboxLabel-input > input:disabled + .CheckboxLabel-control {
  background-color: var(--color-bkg-btn-default);
  color: var(--color-text-disabled);
  border: 0.05em solid var(--color-fg-btn-disabled);
}
