.InfoBlock {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: fit-content;
  background-color: var(--color-bkg-info);
  font-style: oblique;
}

.InfoBlock-icon {
  background-color: rgba(0,0,0,0); /* transparent */
  min-width: 2.2em;
  min-height: 2.2em;
  margin: .5em .5em;
  padding:0;
  fill: var(--color-border-light);
  border: none;
}

.InfoBlock-content {
  margin: .5em .5em .5em 0;
  padding-left: .5em;
  border-left: 1px solid var(--color-border-light);
  color: var(--color-text-info);
}

/*Line between breaks (if any) - same as vertical separator for the Icon */
.InfoBlock hr {
  border:none;
  border-bottom: 1px solid var(--color-border-light);
}