.MaturityResult {
  display: flex;
  justify-content:space-evenly;
  align-items: flex-start;
  flex-direction: column;
  margin-top: .5em;
  /* border: 1px dotted red; */
}

@media screen and (min-width: 800px) {
  .MaturityResult {
    flex-direction: row;
  } 
}

.MaturityResult-category {
  flex: 0;
  display:flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-items:flex-start;
  margin: 0;  
  padding: 0;
  /* border: 1px  dotted purple; */
}

@media screen and (min-width: 800px) {
  .MaturityResult-category {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 35vw;
    max-height: 30vh;
  } 
}


.MaturityResult-category > .MaturityResult-description {
  margin: 0;
  padding: 0;
  color: var(--color-result-nomatch);
  /* border: 1px  dotted orange; */
}

.MaturityResult-category.matched > .MaturityResult-description {
  color: var(--color-text);
}

.MaturityResult-category > .ResultPie {
  flex: 0;
  width: fit-content;
  height: fit-content;
  min-width: fit-content;
  min-height: fit-content;
  font-weight: normal;
}

.MaturityResult-category.matched > .ResultPie {
  font-weight: bold
}

.MaturityResult-description {
  flex: auto;
  padding-left: .5em;
  min-height: 5.5em;
  font-style: italic;
}

.MaturityResult-description.disabled p {
  color: var(--color-text-disabled);
}

.MaturityResult-description > p {
  padding-left: .5em;
  font-weight: lighter;
}

@media screen and (min-width: 800px) {
  .MaturityResult-category > .ResultPie {
    min-width: 13vmin;
    min-height: 13vmin;
  }

  .MaturityResult-description {
    flex: auto;
    padding-left: 0;
    width: 20vw;
  }

  .MaturityResult-description > span {
    text-align: center;
  }

  .MaturityResult-description > p {
    padding-left: 0;
    text-align: center;
  }
}