.NewTeam {
     /* Match space of NewTeam-button in Teams */
     /* TODO: something is still not perfect... debug some day */
    margin: 1em 0 0 0;
    padding: 0;
}

.NewTeam form {
    width: 100%;
    margin-top: 0;
}

.NewTeam-input-control {
    display: flex;
}

.NewTeam input {
    width: 40%;
    min-width: 13em;
    margin: 0;
}

.NewTeam button {
    margin-left: .5em;
}