.OptionalNumInput-edit {
  margin: .3em 0 0 2em;
}

.OptionalNumInput-edit input {
  width: 2.5em;
  text-align: center;
  margin-right: .5em;
}

.OptionalNumInput-edit input:disabled+label{
  color:var(--color-text-disabled);
}