.QueryModal-Overlay {
  z-index: 2000; /*Larger than default (1000) but smaller than alert-modals (3000) */
}

.QueryModal {
  max-width: 480px;
}

.QueryModal > .AppBtn {
  margin-top: .5em;
  margin-right: .5em;
}