.SurveySetup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    width: 92%;
    max-width: 480px;
    margin: 1rem;
    padding: 0;
}   

.SurveySetup > form {
    width: 100%;
    margin: 0;
}

.SurveySetup .param-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    list-style-type: none;
    margin: 0;
    padding: .8em;
    border: 1px solid var(--color-border);
}

.SurveySetup .param-list-entry {
    display: flex;
    min-width: 100%;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    margin: .3em 0 0 0;
    padding: 0;
}

.SurveySetup .param-list-entry label {
    margin-right: .5em;
}   

.SurveySetup .param-list-entry input {
    width: 3em;
    margin: 0;
    margin-top: .2em;
    padding: 0;
    padding-right:2px;
    border: 1px solid var(--color-border);
    color: var(--color-text-data);
    text-align: right;
}   

.SurveySetup button#start {
    margin-top: 1.5em;
}


  