/*Use CSS variables instead of hardcoded constants to enable dynamic themes (at some point) */
:root {
  --color-bkg-default: rgb(255, 255, 255);
  --color-bkg-info: rgb(248, 248, 248);
  --color-bkg-btn-default: rgb(245, 245, 245);
  --color-bkg-btn-hover: rgb(233, 236, 245);
  --color-bkg-btn-focus: rgb(220, 225, 235);
  --color-bkg-btn-accent: rgb(33, 60, 119);
  --color-bkg-btn-accent-hover: rgb(58, 85, 143);
  --color-fg-btn-hover: rgb(33, 60, 119);
  --color-fg-btn-focus: rgb(30, 58, 124);
  --color-fg-btn-disabled: rgb(220, 220, 220);
  --color-border: rgb(128,128,128);
  --color-border-light: rgb(200,200,200);
  --color-border-accent: rgb(61, 76, 141);
  --color-text: rgb(0, 0, 0);
  --color-text-inverted: rgb(255,255,255);
  --color-text-info: rgb(63,63,63);
  --color-text-disabled: rgb(196, 196, 196);
  --color-text-error: rgb(196, 0, 0);
  --color-text-warning: rgb(160, 87, 3);
  --color-text-accent: rgb(3, 40, 160);
  --color-text-data: rgb(36, 63, 145);
  --color-link: rgb(2, 34, 116);
  --color-link-focus: rgb(40, 98, 245);
  --color-link-hover: rgb(3, 65, 223);
  --color-result-void: rgb(192,192,192);
  --color-result-a: rgb(160,128,70);
  --color-result-b: rgb(128,160,70);
  --color-result-c: rgb(70,160,128);
  --color-result-d: rgb(70,128,160);
  --font-big:  calc(17px + 2.7vw); 
  --font-medium: calc(11px + 2.7vw);
  --font-small: calc(8px + 2.2vw);
  --font-tiny: calc(7px + 1.5vw);
  --height-header: calc(2.4 * var(--font-big));
}

@media screen and (min-width: 590px) {
  :root {
    --font-big:  33px; 
    --font-medium: 26px;
    --font-small: 21px;
    --font-tiny: 14px;
  }
}

/* This app uses a fixed header which will make the browsers auto-scrolling
 * a bit off (e.g. for links with #). Many ways to "solve" this, with varying degrees
 * of success and side-effects. But I settled for this, which I think of as a direct
 * and explicit way of handling this:
 * https://getpublii.com/blog/one-line-css-solution-to-prevent-anchor-links-from-scrolling-behind-a-sticky-header.html
 * (despite iOS/Safari issues at the time of writing... Apple must fix this some day... right?)
 */
html {
  scroll-padding: var(--height-header) 0 0 0;
  scroll-behavior: smooth; /*not really necessary, just nicer I think */
}


/* Explicit for the App component */
.App {
  text-align: left;
  background-color: var(--color-bkg-default);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  color: var(--color-text); /* affects text, e.g. <p>'s in app */
}

.App-content {
  display: flex;
  flex-direction: column;
  width: 96%;
  margin: 0 auto;
  margin-top: var(--height-header);
}

/* Helper classes for the entire application
 * =========================================
 */

.App input.app-input {
  color: var(--color-text-data);
  text-align: left;
  padding: .3em;
  border: 1px solid var(--color-border);
}

/* General styles for basic elements, applicable to the entire application
 * =======================================================================
 */

.App input {
  outline: none;
}

.App input:focus {
  border: 1px solid var(--color-border-accent);
}

h1,h2 {
  font-size: var(--font-big);
  margin-top: .5rem;
  margin-bottom: 2rem;
}

h3 {
  font-size: var(--font-medium);
  margin-top: .5em;
  margin-bottom: .5em;
}

h4 {
  font-size: var(--font-small);
  margin-top: 0;
  margin-bottom: .5em;
}

h1,h2,h3,h4 {
  font-weight: 300;
}

p:not(.style-override) {
  font-size: var(--font-small);
  margin-top: 0;
  margin-bottom: 5px;
}

code {
  color: var(--color-text-data)
}

label, input, legend, button {
  font-size: var(--font-small);
}

.App a:not(.style-override) {
  font-size: var(--font-small);
  color: var(--color-link);
}

.App a:not(.style-override):visited {
  color: var(--color-link);
}

@media (hover: hover) {
  .App a:not(.style-override):hover {
    color:var(--color-link-hover);
  }  
}

.App a:not(.style-override):focus {
  color: var(--color-link-focus);
  border: none; /*1px dotted var(--color-border);*/
}

/* Ensure that all "open-in-new" links have a clear indication
 * of this fact (small icon with square/arrow)
 * [https://codepen.io/thiagobraga/pen/bhDdn]
 */
a[target="_blank"]:after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0 0.05em 0 0.2em;
}

/* General-purpose "no line break"-span
 */
 .App span.NoBreak {
  white-space: nowrap;
 }


/* Remove the "spinner" effect for number-input
 * (browser specific: this is from https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp)
 */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}

